/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.featured-meals,
.food-list,
.food-categories,
.add-food-item,
.food-log {
    text-align: center;
    padding: 100px 20px;
}

.featured-meals h1,
.food-list h1,
.food-categories h1,
.add-food-item h1,
.food-log h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.meal,
.food-item,
.category {
    margin-bottom: 40px;
}

.meal img,
.food-item img,
.category img {
    max-width: 100%;
    border-radius: 8px;
}

.meal h2,
.food-item h2,
.category h2 {
    font-size: 24px;
    margin-top: 10px;
}

.meal p,
.food-item p {
    font-size: 16px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
